.dropDown{
    list-style: none;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}
.dropDown li{
    cursor: pointer;
}
.text-danger{
    color: red;
}